<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.zjut.androiddeveloper_8.Calendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  APP 申请定位权限  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确的位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".CalendarImpl.custom.CustomActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SMS.SMSReceiverService"
            android:enabled="true"
            android:exported="true" />
        <!-- <activity android:name=".MainActivity"> -->
        <activity android:name=".TestActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".CalendarImpl.schedule.ScheduleActivity" />
        <!-- <activity android:name=".mix.MixActivity" /> -->
        <activity android:name=".Contact.UserActivity" />
        <activity android:name=".Contact.ContactActivity" />
        <activity android:name=".CalendarImpl.schedule.ScheduleShowActivity" />
        <activity android:name=".CalendarImpl.schedule.SchedulesShowActivity" />
        <activity android:name=".CalendarImpl.schedule.SchedulesDeleteActivity" />

        <provider
            android:name=".ContentProvider.ScheduleContentProvider"
            android:authorities="edu.zjut.androiddeveloper_8.Calendar"
            android:exported="false" />

        <provider
            android:name=".Contact.db.MyContentProvider"
            android:authorities="edu.zjut.androiddeveloper_8.Calendar.Contact"
            android:exported="false" />


        <receiver
            android:name=".SMS.SMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SMS.SMSReceiver" />




    </application>
</manifest>